{% extends 'layout.html' %}

{% block title %}
<title>Afficher les bus</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>BUS</h4>
        </div>
        <div class="card-body text-center">
          <a href="/bus/add" class="btn btn-success mb-4">Ajouter un bus</a>

          <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle">
              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Poids</th>
                  <th>Nombre de passagers</th>
                    <th>Date Achat</th>
                    <th>Entreprise</th>
                    <th>Reservoir</th>
                  <th>Opérations</th>
                </tr>
              </thead>
              <tbody>
                {% if bus | length >= 1 %}
                  {% for ligne in bus %}
                    <tr>
                      <td>{{ ligne.id }}</td>
                        <td>{{ ligne.poids }}</td>
                        <td>{{ ligne.nb_passager }}</td>
                      <td>{{ ligne.date_achat }}</td>
                        <td>{{ ligne.nom }} ({{ ligne.entreprise_id }})</td>
                        <td>{{ ligne.libelle_reservoir }}</td>
                      <td>
                        <a href="/bus/edit?id={{ ligne.id }}" class="btn btn-warning btn-sm me-2">Éditer</a>
                        <a href="/bus/delete?id={{ ligne.id }}" class="btn btn-danger btn-sm">Supprimer</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4" class="text-center text-muted">
                      Aucun bus enregistré
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
