{% extends 'layout.html' %}

{% block title %}
<title>Ajouter un controle probleme</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Ajouter un problème</h4>
        </div>
        <div class="card-body">
          <form method="post" action="/probleme/add">

            <div class="mb-3">
              <label for="descriptif_probleme" class="form-label">Descriptif</label>
              <input id="descriptif_probleme" type="text" name="descriptif_probleme" class="form-control" placeholder="Saisir le descriptif du problème">
            </div>

            <div class="mb-3">
              <label for="dateProbleme" class="form-label">Date du problème</label>
              <input id="dateProbleme" type="date" name="dateProbleme" class="form-control" placeholder="Saisir la date du problème" required>
            </div>

            <div class="mb-3">
              <label for="duree_maintenance" class="form-label">Durée maintenance</label>
              <input id="duree_maintenance" type="number" name="duree_maintenance" class="form-control" placeholder="Saisir la durée de maintenance du véhicule (en jours)">
            </div>

            <div class="mb-3">
              <label for="categorie_id" class="form-label">Catégorie</label>
              <select id="categorie_id" name="categorie_id" class="form-select jaune">
                <option value="">Sélectionner une catégorie</option>
                {% for type in categorie %}
                <option value="{{ type.id }}">{{ type.id }}</option>
                {% endfor %}
              </select>
            </div>

              <div class="mb-3">
              <label for="bus_id" class="form-label">Bus</label>
              <select id="bus_id" name="bus_id" class="form-select jaune" required>
                <option value="">Sélectionner un bus</option>
                {% for type in bus %}
                <option value="{{ type.id }}">{{ type.id }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="duree_maintenance" class="form-label">Durée maintenance</label>
              <input id="duree_maintenance" type="number" name="duree_maintenance" class="form-control" placeholder="Saisir la durée de maintenance du véhicule (en heures)" required>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-success">Créer</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
