<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <a href="/">
                <img src="/static/images/salle-de-cours.png" class="logo" alt="image salle cours">
            </a>
            S1 BDD 30
          <ul class="nav nav-pills">
            <li class="nav-item me-2">
              <a href="/probleme/show" class="btn btn-info"> Probleme (Lucas F) </a>
            </li>
            <li class="nav-item me-2">
              <a href="/bus/show" class="btn btn-info"> Bus (Kevin P)</a>
            </li>
              <li class="nav-item">
              <a href="/ctrl-technique/show" class="btn btn-info"> Controle Technique (Laura B)</a>
            </li>
              <li class="nav-item">
              <a href="/reservoir/show" class="btn btn-info"> Reservoir (Danis H)</a>
            </li>
          </ul>

        </div>
    </div>
</nav>
<hr>